services:
  - type: web
    name: backend
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: |
      python backend/manage.py migrate &&
      gunicorn backend.wsgi:application --chdir backend
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: NODE_VERSION
        value: 20.11.1
